.centraliza {
  margin-left: auto;
  margin-right: auto;
}

.barra {
  background-color: #1b1b1b;
  border-bottom: 1px solid;
  border-color: #212122;
}

.borda {
  border-style: solid;
  border-width: 1px;
}

option {
  color: black;
}

.escondeEixoX {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}

.preto {
  color: black;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

.botaoAzulClaro {
  color: #000 !important;
  background-color: #5ac8fa !important;
}

.botaoVerdeClaro {
  color: #000 !important;
  background-color: #4CD964 !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
}
